/*---

	Site : Sitename
	URL : 
	Author : Mike Strand
	
	Contents :
	
		1 - HTML5 Reset
		2 - Base Type
		3 - Grid & Container
		4 - Generic Elements
		5 - Header
		6 - Footer
		
		* - Media Queries
		
---*/

/*---------
1 - HTML5 Reset
---------------------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
html { font-size:62.5%; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{
	border:0;outline:0;vertical-align:baseline;background:transparent;
	font-family:X;
	font-weight:normal;
	margin:0;
	padding:0;
}
body{line-height:1;background:#f6f5f8;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{font-size:100%;vertical-align:baseline;background:transparent;color:#FFF;margin:0;padding:0}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #dad9dc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
strong { font-weight:bold; }

/*---------
2 - Base Type
---------------------------*/

h1, h2, h3, h4, h5 {
	color:X;
	line-height:X;
	padding:X;
	font-size:X;

}

h1, .h1 {
	font-size:X;

}

h2, .h2 {
	font-size:X;

}

h3, .h3 {
	font-size:X;
}


h4, .h4 {
	font-size:X;
}

h5, .h5 {
	font-size:X;
	font-weight:normal;
}

a {
	color:X;
	text-decoration:none;
	font-weight:bold;
}

p a {
	font-size:X;
}

p {
	color:X;
	margin:8px 0;
	font-size:12px;
	font-size:1.2rem;
}

ul li {
	font-size:12px;
	font-size:1.2rem;
}

/*---------
3 - Grid & Containers
---------------------------*/

.container {
	width:X;
	margin:0 auto;
}

.cols {
	width:100%;
	margin:0 -X;
}

.cols > div {
	float:left;
	padding:X;
}

/* half */

.cols .onehalf, .cols.double > div {width:50%;}

/* thirds */

.cols .onethird, .cols.thirds > div {width:33%;}
.cols .twothird {width:66%;}

/* quarters */

.cols .onefourth, .cols.quarts > div {width:25%;}
.cols .twofourth {width:50%;}
.cols .threefourth {width:75%;}

/* fifths */

.cols .onefifth, .cols.fifths > div {width:20%;	}
.cols .twofifth {width:40%;}
.cols .threefifth {width:60%;}
.cols .fourfifth {width:80%;}

/*---------
4 - Generic Elements
---------------------------*/

ul, ol {
	margin:X;
}

dl {
	margin:X;
}

li {
	padding:X;
}

dl dt, dl dd {
	padding:X;
}

dl p {
	margin:X;
}

form {
	margin:X;
}

legend {
	font-size:X;
	font-weight:bold;
}

label {
	display:block;
	padding:X;
}

input, textarea, select {
	border:1px solid X;
	padding:X;
}

select {
	border:0;
}

/* Buttons */

button, a.button {
	display:block;
	font:X;
	color:X;
	padding:5px;
	border:0;
	cursor:pointer;
	float:X;
}

a.button {
	-moz-border-radius:X;
	-webkit-border-radius:X;
	border-radius:X;
}



a img {
	vertical-align:middle;
}

/* Blockquote */

blockquote {
	color:X;
	font-size:X;
}

blockquote span {
	color:X;
}

/* Grouping */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/*---------
5 - Header
---------------------------*/

/*---------
6 - Footer
---------------------------*/

/* Media Queries, Tablet, Mobile + iPad3 */

@media (min-width: 751px) and (max-width: 1024px){
	

}

@media (max-width: 750px){


}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

}
